* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
}

.App {
  max-width: 1200px;
  padding: 0 15px;
  margin: 120px auto 0;
}

.task {
  color: #174348;
}

.form {
  display: flex;
  gap: 24px;
  position: relative;
  margin-bottom: 62px;
}

.input {
  max-width: 954px;
  width: 100%;
  padding: 13px 16px;
  border: 1px solid #FFCD04;
  border-radius: 4px;
  font-size: inherit;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
  color: #DFDFDF;
}

.btn {
  width: 100px;
  color: #fff;
  background-color: #008594;
  border: none;
  border-radius: 4px;
  font-family: "Poppins-Medium", sans-serif;
  font-weight: 500;
  cursor: pointer;
  min-height: 45px;
}

.btn:disabled {
  cursor: not-allowed;
  background-color: grey;
  opacity: .8;
}

.btn__remove {
  background: transparent;

}

.input-limit {
  border: 1px solid #FF3104;
}

.Error {
  display: block;
  color: #FF3104;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  bottom: -16px;
  left: 0;
}

.start {
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #ACACAC;
  text-align: center;
  margin-top: 140px;
}

.start span {
  display: block;
  font-size: 36px;
  line-height: 54px;
  color: #666666;
}

.task-box {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 1170px;
  border-bottom: 1px solid #E5E5E5;
  transition: all .5s;
  padding-left: 3px;
  position: relative;
}

.task-box:hover {
  background-color: rgb(221, 246, 253);
}

.checkbox {
  display: flex;
  gap: 32px;
  flex-basis: 100%;
  cursor: pointer;
  padding: 20px 0px;
}
.checkbox__hide{
  gap: 18px;
  margin-right: 13px;
}
.checkbox__hide-box{
  margin-left: auto;
}
.checkbox__input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

.checkbox__span {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid #008594;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.checkbox__input:checked+.checkbox__span {
  background-color: #008594;
  background-image: url(./icons/check-on-white.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.checkbox__task {
  color: #666666;
  margin-top: 1.5px;
}

.wrapper{
  display: flex;
  flex-direction: column;
}
.completed{
  background-color: black;
}
.text-change{
  color: #ACACAC;
}

.myModal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}



.myModal.active{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transform:scale(0);
}
.modal.active{
  transform:scale(1);
}
.modal__content{
  padding: 50px;
  background-color: white;
  border-radius: 16px;
}
.modal__content h5{
  font-family: "Poppins-Medium";
  font-weight: 500;
  color: #008594;
}
.btn__wrapper{
  display: flex;
  margin-top: 45px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.btn__delete{
  color: #174348;
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width:550px){
  .form{
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
}